$primary: #009874;

html,body,.reset{padding:0px;margin:0px;height:100%;}
.wrapper{
	margin:0em auto;
	width:900px;
	min-height:100%;
	box-shadow:0px 0px 16px #ddd;
	
	.content{
		padding:0em 2em;
	}
	.footer{
		text-align:center;
		padding:4em 0em 2em;
	}
	
	.menu{
		background-color: $primary;
		
		.item{
			width:8em;
			text-align:center;
			cursor:pointer;
			line-height:4em;
			display:inline-block;
			color:#fff;
			font-size:1.6em;
			padding:0em 1em;
			&:hover{
				background-color:darken($primary, 10%);
				text-decoration:none;
			}
			&.selected{
				background-color:darken($primary, 8%);
				text-decoration:none;
			}
		}
	}
	
}